<launch>
    <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
    <arg name="camera_model"
        default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro
        --inorder $(arg camera_model) use_nominal_extrinsics:=true
        add_plug:=true" />
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Load the aruco marker into the world -->
    <arg name="marker_name" default="aruco_marker"/>
    <arg name="aruco_sdf_file"
        default="$(find aruco_marker_description)/models/aruco_fam4x4_1000_id25_sdf/model.sdf"/>
    <node name="$(arg marker_name)_spawn_urdf" output="screen" pkg="gazebo_ros"
        type="spawn_model"
        args="-sdf -file $(arg aruco_sdf_file) -model $(arg marker_name)
            -x 0 -y 0 -z 0.01 -R 0 -P 0 -Y 0"/>

    <!-- this will include the launch file for gazebo given the model -->
    <include file="$(find sense_aruco)/launch/gazebo.launch">
        <arg name="model" value="$(arg camera_model)" />
    </include>

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find sense_aruco)/rviz/urdf.rviz" required="true" />
</launch>
